@import "./sidebar.css";
@import "./contentbar.css";

* {
  box-sizing: border-box;

}

body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 20px;
  text-align: center;
  background: white;
  height: 30%;
  width: 100%;
  clear: both;
  display: block;

}


.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}


/* Clear floats after the columns */
.row   {
  content: "";
  display: flex;
  flex-direction: row;
  clear: both;
}

/* Footer */
.footer {
  padding: 10px;
  text-align: center;
  background: #ddd;
  margin-top: 10px;
  clear: both;
  width: 100%;
}


